Flask
python-dotenv        
openai             
flask-sqlalchemy   
psycopg2-binary    
flask-migrate       
Flask-WTF           
WTForms             
Flask-CORS
pytest
pytest-flask
flask-bcrypt
boto3
botocore
mimetype
azure-ai-inference
azure-core
azure-identity
sentence-transformers
fitz
opencv-python
pytesseract
transformers
pillow
numpy
torch
flask_login
frontend